@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@100;300;400;500&display=swap');
* {
	font-family: 'Nanum Gothic', sans-serif;
}
h5 {
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 15px;
}
h4 {
	font-family: 'Noto Sans KR', sans-serif;
}
h3 {
	font-family: 'Noto Sans KR', sans-serif;
}
h2 {
	font-family: 'Noto Sans KR', sans-serif;
}
h1 {
	font-family: 'Noto Sans KR', sans-serif;
}
thead th {
	background-color: #006DCC;
	color: white;
	text-align: center;
}
tr td:first-child,
tr td:last-child {
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
tr td:first-child,
tr td:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}
/* 모달 팝업창 관련 디자인 처리 */
.vertical-alignment-helper {
	display: table;
	height: 100%;
	width: 100%;
	pointer-events: none;
}
.vertical-align-center {
	display: table-cell;
	vertical-align: middle;
	pointer-events: none;
}
.modal-content {
	width: inherit;
	height: inherit;
	margin: 0 auto;
	pointer-events: all;
}
